In [ ]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [ ]:
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) "
                  "AppleWebKit/537.36 (KHTML, like Gecko) "
                  "Chrome/128.0.0.0 Safari/537.36",
    "Accept-Language": "en-US,en;q=0.9",
    "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8",
    "Referer": "https://www.google.com/",
}
webpage=requests.get('https://www.ambitionbox.com/list-of-companies?page=1',headers=headers).text

In [ ]:
webpage

In [ ]:
soup=BeautifulSoup(webpage, 'lxml')

In [ ]:
soup

In [ ]:
print(soup.prettify())    #makes HTML readable

In [ ]:
for i in soup.find_all('h2'):     
    print (i.text.strip())

In [ ]:
#class is to specify konsa div/p/a

#find() : when only one exists
#Returns only the first matching element.
#Output: a single tag object

#find_all() : when many exists with same.....
#Returns all matching elements.
#Output: a list of tag objects.

In [ ]:
company=soup.find_all('div',class_="companyCardWrapper__primaryInformation")

In [ ]:
len(company)

In [ ]:
name=[]
rating=[]
review=[]

for i in company:
    name.append(i.find('h2').text.strip())
    rating.append(i.find('div',style="height:auto;padding-bottom:1px;").text.strip())
    review.append(i.find('span',class_="companyCardWrapper__companyRatingCount").text.strip())

    #company[1].find_all('span',class_="companyCardWrapper__ActionCount")  not working??!!

In [ ]:
#company[0].find('span', class_="companyCardWrapper__interLinking").text.strip()

In [ ]:
name

In [ ]:
rating

In [ ]:
review

In [ ]:
#creating dataframe
d={'name':name, 'rating':rating, 'review':review}
df=pd.DataFrame(d)

In [ ]:
df

now doing for 10 pages

In [98]:
final=pd.DataFrame()
for j in range (1,11):
    url='https://www.ambitionbox.com/list-of-companies?page={}'.format(j)
    headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) "
                  "AppleWebKit/537.36 (KHTML, like Gecko) "
                  "Chrome/128.0.0.0 Safari/537.36",
    "Accept-Language": "en-US,en;q=0.9",
    "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8",
    "Referer": "https://www.google.com/",
    }
    webpage=requests.get(url,headers=headers).text
    
    soup=BeautifulSoup(webpage, 'lxml')
    
    company=soup.find_all('div',class_="companyCardWrapper__primaryInformation")  
    
    name=[]
    rating=[]
    review=[]
    
    for i in company:
        name.append(i.find('h2').text.strip())
        rating.append(i.find('div',style="height:auto;padding-bottom:1px;").text.strip())
        review.append(i.find('span',class_="companyCardWrapper__companyRatingCount").text.strip())
        

    d={'name':name, 'rating':rating, 'review':review}
    df=pd.DataFrame(d)

    final = pd.concat([final, df], ignore_index=True)

In [99]:
final

                        name rating   review
0                        TCS    3.4     (1L)
1                  Accenture    3.7  (66.8k)
2                      Wipro    3.7  (59.9k)
3                  Cognizant    3.7  (56.9k)
4                  Capgemini    3.7  (48.8k)
..                       ...    ...      ...
195                   Subros    3.8   (3.6k)
196                  Viatris    4.1   (3.6k)
197      Pidilite Industries    4.2   (3.5k)
198                 PVR Inox    3.9   (3.5k)
199  Alembic Pharmaceuticals    3.9   (3.5k)

[200 rows x 3 columns]